/***header***/
header nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5vw;
    flex-wrap: wrap;
}
header nav ul li a{
    color: #31502b; 
    font-size: 3vw;
    text-decoration: none;
    line-height: 10vw; 
    position: relative;
}
header nav ul li a::after{
    content: '';
    width: 0;
    height: 0.5vw;
    background:#ecbc52; 
    position: absolute;
    left: 0;
    bottom: -0.5vw;
    transition: 0.5s;
}
header nav ul li a:hover::after{
    width: 100%
}
.logo{
    height: 10vw;
    width: 10vw;
}

body {
    direction: rtl;
}

/***content***/
/*welcome*/
.petsimg{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.wellcome{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    padding: 5vw;
    text-align: center;
}
.wellcome h1{
    display: flex;
    text-align: center;
    color: #ecbc52; 
    font-size: 5vw;
}
.dogimg{
    width: 20%;
}
/*about*/
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    background-image: url(../Media/background.png);
    gap: 5vw;
    padding: 5vw;
}
.aboutext{
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #ffffff; 
    font-size: 2vw;
    margin: 0;
}
.petsimg2{
    width: 100%;
    border-radius: 1vw;
}
/*types*/
.types{
    color: #31502b; 
    text-align: center;
    font-size: 2vw;
}
.animals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
.animal {
    width: 40%;
    text-align: center;
}
.animal img {
    width: 100%;
}
.animal h3 {
    font-size: 3vw;
}
/***footer***/
footer{
    background-color: #31502b;
    color: #fbfbfb;
    text-align: center;
    padding: 2vw;
}
/***media***/
@media (max-width: 768px){
    .logo{
        height: 20vw;
        width: 20vw;
    }
    header nav ul li a{
        font-size: 5vw;
        line-height: 12vw;
    }
    .wellcome h1{
        font-size: 7vw;
    }
    .aboutext{
        font-size: 3.5vw;
    }
    .animal{
        width: 80%;
    }
    .animal h3{
        font-size: 5vw;
    }
    .types{
        font-size: 4vw;
    }
}